body {
    background-color: #e5e5e5;
    font-family: 'inter', sans-serif;
    
}

.container {
    display: grid;
    grid-template-areas: 
    "header header header saida"
    "entrada entrada entrada saida"
    "footer footer footer footer";
}
header {
    grid-area: header;
    margin: 2rem;
}

.titulo {
    font-weight:  700;
}

.entrada {
    grid-area: entrada;

}

.formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;
}

.text-area {
    background-color: #e5e5e5;
    border: none;
    padding-left: 1rem;
    margin-top: 1rem;
}

.saida {
    grid-area: saida;
    border: 1px solid black;
    border-radius: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 20rem;
    text-align: center;
}

button {
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: rgb(47, 38, 170);
    color: white;
}

footer {
    grid-area: footer;
    padding: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}